<div class="col-xs-12 col-md-12 col-lg-12 col-sm-12 searchBar" >
  <div class="innerDiv">
    <input type="text" ng-model="searchString" class="inputText" placeholder="Enter a book title" required> 
    <input type="button" value="Search" class="highlight" ng-Click="getSearchResults()">
  </div>
</div>

    <div class="col-xs-12 col-md-12 col-lg-12 col-sm-12 heightImp" id="leftSide">
        <div class="listSection">
          <ul class="ulCustom">  
             <li ng-repeat="i in items">
              <div class="row inlineDisplay">
                 <div  class="col-xs-12 col-md-4 col-lg-4 col-sm-4"><center> <a href="{{i.url}}">
                    <p><center>{{i.title}}</center></p>
                    <img class="box rotate" ng-src="{{i.image}}" /></a></center>
                 </div>
                 <div class="col-xs-12 col-md-8 col-lg-8 col-sm-8 desc"><p>{{i.description}}</p></div>
               </div>
          </ul>
        </div>
      </div>
    </div>

    